@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

$bg-gradient: linear-gradient(30deg, #212332 0%, #474975 70%);

$primary: #39385A;
$primary-light: #46436B;
$secondary: #9895CE;

$success: #6FCF97;
$warning: #F2C94C;
$danger: #EB5757;

$overlay: rgba(0, 0, 0, .25);

$text-primary: #E5E0F5;
$text-secondary: #333333;
$text-tertiary: #219653;
$text-highlight: #535D93;
$text-placeholder: rgba(#E5E0F5, .5);

$disabled: #BDBDBD;

html {
  font-family: 'Roboto', sans-serif;
}

* {
  outline: none;
}

body {
  background: $bg-gradient no-repeat;
  min-height: 100vh;
  color: $text-primary;
}